html body * {
  font-family: open sans, helvetica neue, helvetica, arial, sans-serif !important;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.cc-cookies {
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.5em 5%;
  background: #565656;
  background: rgba(86, 86, 86, 0.95);
  color: #fff;
  font-size: 13px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  z-index: 99999;
  text-align: center;
  color: #fff;
}

.cc-cookies a.cc-cookie-accept {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #7daf3b;
  padding: 0.5em 0.75em;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
}

@media screen and (max-width: 768px) {
  .cc-cookies a.cc-cookie-accept {
    display: block;
    margin: 1em 0;
  }
}
h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}
.red {
  background: #cf3245;
}
.sky {
  background: #2ba6cb;
}
.purpal {
  color: #990033;
}

/* otp page */
.login-info {
  text-align: right;
}
.hover-purple:hover {
  color: #990033;
}
#breadcrumbs-tray {
  padding: 1rem 0 0;
  margin-bottom: 1rem;
  box-shadow: inset 0 13px 10px -10px #bbb, inset 0 -13px 10px -10px #bbb;
  background: url(../images/36-88-5.png) #fff;
}
.sky-text {
  color: #2ba6cb;
}

p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
}
.xs-text {
  font-size: 0.7rem;
}
.blue-logo {
  color: #4f6df5;
}

/* tryst page */
.heading {
  position: relative;
  margin-bottom: 1.8em;
}

.heading h1 {
  letter-spacing: 0.01em;
  font-weight: 700;
  color: #1b1f29;
  font-size: 41px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
}

.border-line:after {
  content: "";
  background-color: #d7282f;
  width: 80px;
  height: 4px;
  position: absolute;
  text-align: center;
  bottom: -0.1em;
  left: 0;
  margin: 0;
  z-index: 1;
  content: "";
  border-radius: 3px;
  border-bottom: 1px white;
}

.red-star {
  color: #d7282f;
}
.red-bg {
  background: #f74356;
}
.red-border {
  border: 2px solid #f74356;
}
.red-border:hover {
  background: #f74356;
  color: white;
}
.red-bg:hover {
  background: #cf3245;
}
.footer ul li a {
  color: #fff;
  border-bottom: 1px solid #d7282f;
  line-height: 1.5em;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* tryst otp page */
.header_bg {
  background-color: #1b1f29;
}
